PORT=3035
BRIDGE_OPERATOR_KEY=dale
BRIDGE_OPERATOR_KEYS="dale,#dale"
BRIDGE_AUTO_ON_OPERATOR_KEY=true
BRIDGE_DELETE_OPERATOR_KEY=false
BRIDGE_HEADLESS=false
N8N_COPILOTO_WEBHOOK_URL=
N8N_COPILOTO_SECRET=
MODO_SABOR_API_URL=https://modosabor.com.ar
AGENT_API_KEY=
